* {
	margin: 0%;
	font-family: "Poppins", sans-serif;
}
section {
	margin-bottom: 30px;
}
h1 {
	font-size: 40px;
	font-weight: 700;
}
.heading-section {
	background: radial-gradient(
		circle,
		rgba(255, 153, 102, 1) 0%,
		rgba(255, 94, 98, 1) 100%
	);
}
.header {
	display: flex;
	padding: 0 8%;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 80px;
	border-radius: 50px;
}
.dav-link {
	flex: 1;
	text-align: right;
}
.dav-link ul li {
	list-style: none;
	display: inline-block;
	padding: 6px 12px;
}
.dav-link ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-weight: 600;
}
.section-unit {
	display: flex;
	height: 70vh;
}
.section-unit div {
	width: 50%;
	padding-left: 8%;
	padding-right: 8%;
}
.hading-customize {
	padding: 18% 0 5% 0;
}
span {
	color: orange;
}
img {
	width: 100%;
	height: 100%;
}
.button {
	text-decoration: none;
	background: linear-gradient(45deg, lightsalmon, tomato);
	font-weight: 700;
	padding: 10px 40px;
	margin-top: 20px;
	position: absolute;
	color: white;
	border-radius: 20px;
}
.bg-image {
	background-size: cover;
	padding-top: 40px;
}
#bg-image1 {
	background-image: url(images/shapes/Frame\ 59.jpg);
}
#bg-image2 {
	background-image: url(images/shapes/7.png);
}

#description-section {
	text-align: center;
	padding-bottom: 4%;
}
.row {
	display: flex;
	align-items: center;
	padding: 0 5%;
}
.row .cloumn {
	border-radius: 20px;
	padding: 10px;
	margin-left: 5%;
	box-shadow: grey 5px 7px 20px;
}
.row .manu {
	border-radius: 10px;
}
.popularity-section {
	height: 150px;
	text-align: center;
	box-shadow: grey 2px 4px 10px;
	margin: 58px 6% 0 10%;
	border-radius: 10px;
}
.row .popularity {
	width: 100%;
}
.footer-section {
	text-align: center;
	height: 95px;

	background-color: black;
	color: rgba(158, 154, 154, 0.699);
	padding-top: 20px;
}
.footer-section .some-comond {
	color: rgba(238, 241, 241, 0.89);
}
.footer-section .copy-right {
	margin-top: 5px;
	color: rgba(92, 91, 91, 0.651);
}
